/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */


#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------
// |BT_CLR |   1   |   2   |   3   |   4   |   5   |                   |   6   |   7   |   8   |   9   |   0   |       |
// | TAB   |   Q   |   W   |   F   |   P   |   B   |                   |   J   |   L   |   U   |   Y   |   ;   |       |
// | CTRL  |   A   |   R   |   S   |   T   |   G   |                   |   M   |   N   |   E   |   I   |   O   |       |
// | SHIFT |   Z   |   X   |   C   |   D   |   V   |                   |   K   |   H   |   ,   |   .   |   /   |       |
//                         | SPACE |       |       |         	  	     | ENTER |       |  BSPC |
//						                     |       |	     | 	  	             |       |       |
			bindings = <
&bt BT_CLR	&kp N1    &kp N2   &kp N3    &kp N4    &kp N5              &kp N6    &kp N7   &kp N8    &kp N9  &kp N0		&none
&kp TAB     &kp Q     &kp W    &kp F     &kp P     &kp B               &kp J     &kp L    &kp U     &kp Y   &kp SEMI 	&none
&kp LCTRL   &kp A     &kp R    &kp S     &kp T     &kp G               &kp M     &kp N    &kp E     &kp I   &kp O 	  &none
&kp LSHIFT  &kp Z     &kp X    &kp C     &kp D     &kp V               &kp K     &kp H    &kp COMMA &kp DOT &kp SLASH &none
                   		&kp SPACE &none     &none                        &kp ENTER &none    &kp BSPC
                   	            &none     &none					               &none     &none
			>;
		};
	};
};
